

.sziszkép{
    float: right;
    width: 400px;
}

.brooklandspálya{
    float: left;
    width: 200px;
    margin-right: 20px;
}

.alfaromeokép{
    float:right;
    width: 300px;
}

.senna{
    float: left;
    width: 400px;
    margin-right: 20px;
}

.redbull{
    float: right;
    width: 400px;
    margin-left: 20px;
}

.merci{
    float:left;
    width: 500px;
}